{% extends 'bootstrap/base.html' %}

{% block navbar %}
<style>
#menu-bar {
border: 2px solid #7255b2;
background-color:#7255b2;
border-radius:3px;
color: black;
}
#toast_panel {
      background: #e2231a;
      color: white;
    }
</style>
  <script>
    $(document).ready(function () {
      $('#toast_icon').on('click', function (e) {
        $('#toast_panel').remove();
      });
      $('#loading').on('click', function (e) {
        $('#toast_panel').remove();
      });
    });
    $(document).ready(function (){
    setTimeout(function(){ $('.toast').fadeOut() }, 15000);
    })
  </script>
    <nav class="navbar navbar-default" id="menu-bar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}" style="color: white" ><strong>HOME</strong></a>
                <div id="search">
                <form method="POST" id="submit_form">
<!--                <input type="text" name="book" placeholder="Search Book by title">-->
<!--                <button  type="submit"  name="submit_button" value="search_book">Search</button>-->
                    <div style=" padding-top: 1em;">
                    <input type="submit" name="submit_button" value="Search book" style="float: right" />
                    <div style="overflow: hidden; padding-right: .5em;">
                    <input type="text" name="book" placeholder="Enter Book title"/>
                    </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </nav>
<div class="flashes">
    {%for message in get_flashed_messages() %}
    <div class="toast" id="toast_panel" style="position: absolute ; top: 10;right:0;width:20%;height:10%">
        <center>
            <div style="padding-top:20px">{{message}}</div>
        </center>
      <div id="toast_icon"></div>
    </div>
    {% endfor %}
  </div>
{% endblock %}


