<link rel="icon" href="data:;base64,=">
{% extends "base.html" %}
{% block title %}Online Book Search Engine{% endblock %}
{% block head %}
  {{ super() }}
<style>
#books {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  border: None;
  padding: 10px;
}
#books td, #books th {
  padding: 8px;
}
#books tr:nth-child(even){
    background-color: #f2f2f2;
    }
#books tr:hover {background-color: #ddd;}
#books th {
  padding-top: 10px;
  text-align: center;
  background-color: #FFB861 ;
  color: black;
}
.content{min-height: calc(100vh - 300px);}
.footer{
 background-color: #7255b2;
 color: white;
 width: 100%;
 height: 25%;
 text-align: center;
}
</style>
{% endblock %}

{% block content %}
<body>
    <center>
<h1>Online Book Search Engine</h1>
<p><i>Welcome to my book search engine enter the book title to get book details</i></p>
<div class="content">
        <table id="books" class="display" border="2">
            <thead>
                <tr>
                    {% for col in colnames %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    {% for col in colnames %}
                    <td>{{ record[col] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</center>
<br><br>
    <div class="footer">
    <footer style="padding-top:10px;">
      <h3><b>Contact:</b></h3>
        <p>email: someshugar@gmail.com</p>
      <p><b>Sources: </b><a href="https://en.wikipedia.org/wiki/Wikipedia"> Wikipedia link</a></p>
    </footer>
    </div>
    </body>
{% endblock %}
